body{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
img{
  max-width: 100%;
  height: auto;
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
}
.wrapper{
  max-width: 1200px;
  margin: 0 auto;
}
.wrapper .content{
  padding: 15px;
}
.wrapper .content h1{
  font-size: 32px;
}
.content .wrap{
  display: flex;
  flex-wrap: wrap;
}
.wrap .wrap__img{
  flex: 0 1 300px;
  margin-right: 15px;
}
.wrap .wrap__news{
  flex: 0 1 70%;
  margin-left: -15px;
  padding: 15px;
}
.wrap .wrap__news .wrap__news-date{
  font-size: 14px;
}
.wrap .wrap__news .wrap__news-title{
  font-size: 22px;
  font-weight: 800;
}
.wrap .wrap__news .wrap__news-text{
  font-size: 18px;
  line-height: 1.7
}
.bottom{
  margin-bottom: 15px;
}
